{% extends 'tracker/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Biblioteca de Ejercicios</h2>

    {% for group, exercises in ejercicios_agrupados.items %}
        <h3 class="mt-4">{{ group }}</h3>
        <div class="list-group mt-2">
            {% for ejercicio in exercises %}
                <a href="{% url 'detalle-ejercicio' ejercicio.pk %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ejercicio.nombre }}</h5>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
