{% extends 'tracker/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Biblioteca de Ejercicios</h2>

    <div class="list-group mt-4">
        {% for ejercicio in ejercicios %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ ejercicio.nombre }}</h5>
                </div>
                {% if ejercicio.descripcion %}
                    <p class="mb-1">{{ ejercicio.descripcion }}</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
